body {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-size: 12px;
    font-family: "Roboto";
}

 /*Header*/

header {
    background-color: #ff6900;
        position: sticky;
        top: 0;
        z-index: 2;
}


#top-bar {
    height: 60px;
}

#top-bar-container {
    height: 100%;
    width: 70%;
    margin: 0 auto;
    display: flex;
    align-items: center; 
    /*debug*/
}

#età-sesso {
    width: 30%;
    color: white;
    /*debug
    background-color: yellow;  
    height: 20px;*/
}

#logo {
    width: 40%;
    display: flex;
    justify-content: center;
}

#immagine-logo {
    width: 30%
}

#social {
    width: 35%;
    display: flex;
    justify-content: flex-end;
    color: white;
}

 /*Main*/

 #main-container {
    width: 70%;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 20px;
 }

 .row {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
 }

 .column {
    width: calc((100% / 3) - (20px / 3));
 }

 .card {
    position: relative;
 }

 .card img {
    max-width: 100%;
 }

 /*Container riquadro*/

 .container-riquadro {
    margin-top: -6px;
    font-size: 12px;

 }

 .sconto {
    color: red;
 }

 .discount-immagine {
    padding: 4px;
    background-color: red;
    font-weight: bold;
    font-size: 9px;
    color: white;
    position: absolute;
    bottom: 58px;
    left: 0px;
 }

 .sostenibilita {
    padding: 4px;
    background-color: #008000;
    font-weight: bold;
    font-size: 9px;
    color: white;
    position: absolute;
    bottom: 58px;
    left: 30px;
 }

 .sostenibilita-solo {
    padding: 4px;
    background-color: #008000;
    font-weight: bold;
    font-size: 9px;
    color: white;
    position: absolute;
    bottom: 58px;
    left: 0px;
 }

 .cuore {
    padding: 4px;
    background-color: white;
    color: none;
    position: absolute;
    top: 10px;
    right: 0;
 }

 .cuore:hover {
    color: red;
 }

 /* immagini che cambiano */
 .immagine-1 {
    position: relative;
 }

 .immagine-2 {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
 }

 .card:hover .immagine-2 {
    opacity: 1;
 }

 /* footer */
 footer {
    background-color: #1a1a1a;
 }

 .top-container-footer {
    height: 20px;
    width: 100%;
    background-color: #1a1a1a;
 }

 .container-footer {
    height: 100%;
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #1a1a1a;
 }

 #privacy {
    width: 50%;
    color: white;
    background-color: #1a1a1a;

 }

 #trovaci-su {
    width: 9%;
    color: white;
    background-color: #1a1a1a;
 }

 #sotto-trovaci {
    margin-bottom: 6px;
 }

 #boolando {
    font-size: 16px;
    margin-bottom: 6px;
 }

 .social {
    display: flex;
    justify-content: space-between;
 }

